#menu
{
	position: fixed;
	width: 100%;
	height: 100px;
	background-image: url("blur-blurred-colors-938967.jpg");
	background-size: cover;
}

li a {
	color: black;
	font-size: 20px; 
	font-weight: 800;
	font-family: Sans-Serif;
	text-decoration: none;
}

li a:hover {
  color: white;
}

li
{ 
	display:inline;
	margin: 20px 20px 20px 20px;
}

body
{
	background-image: url("abstract-paper-hexagon-white-background_51543-7.jpg");
	background-size: 100%;
	background-attachment: fixed;
	text-align: left;
	font-size: 150%;
	font-weight: 600;
	color: black;
}


h1{
	background-color: white;
	opacity: 0.7;
	font-size: 150%;
	font-weight: 800;
}

table, th, td {
  border: 1px solid black;
}

